--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
fastapi
uvicorn
celery
redis
yt-dlp
python-dotenv
pydantic
demucs
boto3
httpx
pydub
opencv-python-headless
psutil
torchcodec==0.11.1
requests
